body, html {
    height: 100%;
    margin: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(125, 173, 173);;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.navbar li{
 list-style-type: none;
display: inline;
padding:30px 30px 30px 85px;
}

.nav_content ul{
  color:white;
  display: inline-block;
  /* float:right; */
}

.nav_content li a:hover ,.submit-button:hover{
  
    color:black;
    box-shadow: 0 0 10px white ;
    border-radius:20px;
    padding:40px 30xp 30px 30px;
    background-color: rgb(125, 173, 173);
   
}


.navbar li a{
  text-decoration: none;
  font-size: 20px;
  color:white;
  padding:10px;
}




.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/travel.jpg");

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    font-size: 30px;
    color: white;
}

.input {
    padding: 15px;
    border-radius: 8px;
    width: 20%;
    margin-top: 25px;
}

.submit-button {
    padding: 15px;
    background-color: rgb(125, 173, 173);
    border-radius: 20px;
}


.submit-button:hover{
  padding: 15px;
  box-shadow: 0 0 10px rgb(125,173,173,173);
  background-color: rgb(125, 173, 173);

}

.card-list {
    padding: 0 5%;
    /* background-color: darkslategrey; */
    background-color: rgb(125, 173, 173);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.card {
    width: 20%;
    max-height: 600px;
}

/* .card:hover{
  box-shadow: 0 0 10px rgb(125,173,173,173);
} */

.card-image img {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 10% 10% 0 0;
}

.card-body {
    background-color: white;
    height: 250px;
    text-align: center;
    padding: 10px;
    margin-top: -5px;
}


.card-footer {
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 20% 20%;
}



/* card body paragraph */
.card-body p{
 display: inline;
}

/* div.card.orange:hover{
  box-shadow: white 0 0 10px rgb(125,173,173,173);
  background-color: rgb(125, 173, 173);
} */



.info {
    height: 50px;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
}

.info:nth-child(2) {
    border: solid black;
    border-width: 0 1px;
}



.green .date {
    color: green;
}

.green .card-footer {
    background-color: green;
}

.purple .date {
    color: purple;
}

.purple .card-footer {
    background-color: purple;
}

.orange .date {
    color: orange;
}

.orange .card-footer {
    background-color: orange;
}